 #tableCanvas {

    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.canvasContainer {
    
    display: grid;
    grid-template-areas:
    'inputI decreaseI copyI'
    'tableI tableI tableI';
    grid-template-columns: 5fr 3fr 1fr;
    grid-template-rows: 1fr 7fr;
    
  }

.canvasContainerItem {
    background-color: steelblue;
    padding: 20px;
    border: skyblue 1px solid;
}

#canvasContainerItem1{
    grid-area: inputI;
}
#canvasContainerItem2{
    grid-area: copyI;
}
#canvasContainerItem3{
    grid-area: tableI;
}
#canvasContainerItem4{
    grid-area: decreaseI;
}